*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* DEBUG */
.bg_lgrey{
  background-color: lightgrey;
}

.bg_pink{
  background-color: pink;
  border: 1px solid black;
}

.bg_aqua{
  background-color: aqua;
}

.bg_grey{
  background-color: grey;
}

/* MIX */
.wrapper-page{
  height: 100vh;
}

.menu-inline li {
  display: inline;
  list-style: none;
}

.child-inline > *{
  display: inline-block;
}

.m-top-10{
  margin-top: 10px;
}
.m-bottom-30{
  margin-bottom: 30px;
}

.bg-grey{
  background-color: #282828;
}
.bg-greyblue{
  background-color: #141922;
}
.bg-black{
  background-color: #000;
}

/* Row song */
.row-flex{
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: calc(100% / 6);
  padding: 10px;
  text-align: center;
}
.box h4{
  color: #fff;
  margin: 5px 0;
}
.box h5{
  font-weight: 500;
}
.box-image{
  position: relative;
}
.box-image img{
  width: 100%;
}
.box-image .overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
  height: 100%;
  width: 100%;
}
.overlay .fa-play-circle{
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: #fff;
}
.image-circle{
  border-radius: 50%;
  overflow: hidden;
}
.box:hover .overlay{
  display: inline-block;
}
/* Button */
.btn{
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50px;
  margin-right: 30px;
  padding: 15px 30px;

}

/* TYPOGRAPHY */
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #A3A3A3;
}

h2{
  color: #fff;
}

h3{
  font-size: 14px;
}

a{
  text-decoration: none;
  color: #A3A3A3;
}

/* MAIN */
main{
  display: flex;
  height: calc(100% - 90px);
  background-color: black;
}

/* Aside */
.side-menu{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding: 10px;
  overflow-y: hidden;
}

.logo{
  height: 90px;
  flex-shrink: 0;
}
.logo-small{
  display: none;
}

.main-nav{
  flex-shrink: 0;
}
.main-nav-list li img{
  height: 30px;
  vertical-align: middle;
}

.menu-playlist{
height: 100%;
margin-top: 20px;
overflow: hidden;
}
.playlist-title{
  height: 60px;
}
.playlist-list{
  height: calc(100% - 60px);
}
.playlist{
  height: 100%;
  overflow-y: auto;
}

.playlist-title .fa-plus-square{
  font-size: 30px;
  vertical-align: middle;
}
.playlist-list .playlist li{
  line-height: 2;
}
/* Menu bottom profile */
.aside-bottom{
  margin-top:auto;
  width: 100%;
  flex-shrink: 0;
}

.aside-bottom img{
  height: 14px;
  vertical-align: middle;
}
.aside-bottom hr{
  margin-top: 5px;
}
.profile > img, .profile > h3{
  display: inline-block;
}
.profile img{
  height: 30px;
  background-color: #808080;
  border-radius: 50%;
  margin-top: 5px;
}

/* Main content */
/* Upgrade bar */
.upgrade{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 90px;
  width: calc(100% - 300px);
  background-color: rgba(0, 0, 0, 0.5)
}
.main-content{
  height: 100%;
  width: calc(100% - 300px);
  overflow-y: auto;
}
/* Navbar menu content */
.menu-content{
  margin-top: 100px;
  text-align: center;
}
.menu-content ul li{
  padding: 5px;
}



/* FOOTER */
.footer-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.player{
  width: 60%;
}

.player-timer .time, .time-lenght{
  width: 10%;
}
.time-bar-wrapper{
  width: 80%;
  margin: auto;
}
.time-bar{
  height: 5px;
  width: 100%;
  background-color: red;
  vertical-align: middle;
  border-radius: 2px;
}
.time-bar-progres{
  height: 100%;
  width: 40%;
  background-color: green;
  border-radius: 2px;
}
/* RESPONSIVE */

/* Medium <992px */
@media screen and (max-width: 992px){
  .box{
    width: 25%;
  }

  /* .time-bar{
    width: 300px;
  } */
}

/* Small <768px */
@media screen and (max-width: 768px){
  .box{
    width: 50%;
  }

  /* .time-bar{
    width: 150px;
  } */
}

/* Extra Small <576px */
@media screen and (max-width: 576px){
  /* ASIDE */
  .xs-d-none{
    display: none;
  }
  .side-menu{
    width: 50px;
  }
  .logo{
    height: auto;
  }
  .logo-small{
    display: block;
  }
  .aside-bottom a > img{
    margin: auto;
  }

  /* MAIN CONTENT */
  .main-content{
    width: calc(100% - 50px);
  }
  .upgrade{
    width: calc(100% - 50px);
  }

  .box{
    width: 50%;
  }

  /* .time-bar{
    width: 100px;
  } */
}
